<div ng-controller="ShellController as vm">
    <header>
        
        <a ui-sref="home"><img id="logo" src="../images/logo.png" width="130px"></a>
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="content">
        <!--<div ng-include="'app/layout/sidebar.html'"></div>-->

        <div ui-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <p>&copy; 2015 <span><a href="{{vm.twitter.igor}}" class="twitter"><i class="fa fa-twitter"></i> @igordilic</a></span></p>
        </div>
    </footer>
</div>
