<div ng-controller="SidebarController as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-inner">
              <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Menu</a></li>
                <li ng-class="vm.isCurrent(r)"
                    ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content"></a>
                </li>
            </ul>
        </div>
    </ht-sidebar>
</div>
